.Project__Tutorial {
    padding: 40px;
    background: lightcyan;
    position: absolute;
    width: 100%;
    min-height: 100%;

    font-size: 1.4em;
    line-height: 1.5em;
}

.Project__Tutorial h1, .Project__Tutorial h2 {
    margin-top: 0;
    font-weight: normal;
}

.Project__Tutorial p {
    max-width: 1200px;
}

.Project__Tutorial span {
    background: rgba(255, 255, 255, 0.65);
    padding: 0 3px 3px 3px;
    border-radius: 5px;
}

.Project__Tutorial pre {
    font-size: 0.8em;
    line-height: 1.4em;
    margin-top: 0px;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65);
}